In [1]:
import pandas as pd

# Define the file paths
file_path1 = 'registry/distribution.txt'
file_path2 = 'registry/speciesprofile.txt'
file_path3 = 'registry/taxon.txt'

# Read the text files into DataFrames
df1 = pd.read_csv(file_path1, delimiter='\t')
df2 = pd.read_csv(file_path2, delimiter='\t')
df3 = pd.read_csv(file_path3, delimiter='\t')

# Merge the DataFrames on the 'id' column
merged_df = pd.merge(df1, df2, on='id', how='outer')
merged_df = pd.merge(merged_df, df3, on='id', how='outer')

# Display the merged DataFrame
print(merged_df)

         id   locationID countryCode occurrenceStatus establishmentMeans  \
0    126500  Philippines          PH          Present              Alien
1    126501  Philippines          PH          Present              Alien
2    126502  Philippines          PH          Present              Alien
3    126503  Philippines          PH          Present              Alien
4    126504  Philippines          PH          Present              Alien
..      ...          ...         ...              ...                ...
448  126948  Philippines          PH          Present              Alien
449  126949  Philippines          PH          Present              Alien
450  126950  Philippines          PH          Present              Alien
451  126951  Philippines          PH          Present              Alien
452  126952  Philippines          PH          Present              Alien

    isInvasive      habitat  taxonID                 scientificName  \
0         Null  Terrestrial   126500  Abelmoschus esculentus Moench
1         Null  Terrestrial   126501           Abrus precatorius L.
2         Null  Terrestrial   126502    Abutilon indicum (L.) Sweet
3         Null  Terrestrial   126503   Acacia auriculiformis Benth.
4         Null  Terrestrial   126504  Acacia farnesiana (L.) Willd.
..         ...          ...      ...                            ...
448       Null  Terrestrial   126948                    Zea mays L.
449       Null  Terrestrial   126949       Zebrina pendula Schnizl.
450       Null  Terrestrial   126950      Zephyranthes rosea Lindl.
451       Null  Terrestrial   126951     Zingiber officinale Roscoe
452       Null  Terrestrial   126952     Zornia diphylla (L.) Pers.

                          acceptedNameUsage  kingdom        phylum  \
0                                       NaN  Plantae  Tracheophyta
1                                       NaN  Plantae  Tracheophyta
2                                       NaN  Plantae  Tracheophyta
3                                       NaN  Plantae  Tracheophyta
4    Vachellia farnesiana (L.) Wight & Arn.  Plantae  Tracheophyta
..                                      ...      ...           ...
448                                     NaN  Plantae  Tracheophyta
449              Tradescantia zebrina Bosse  Plantae  Tracheophyta
450                                     NaN  Plantae  Tracheophyta
451                                     NaN  Plantae  Tracheophyta
452            Zornia apiculata Milne-Redh.  Plantae  Tracheophyta

             class         order          family taxonRank taxonomicStatus
0    Magnoliopsida      Malvales       Malvaceae   SPECIES        ACCEPTED
1    Magnoliopsida       Fabales        Fabaceae   SPECIES        ACCEPTED
2    Magnoliopsida      Malvales       Malvaceae   SPECIES        ACCEPTED
3    Magnoliopsida       Fabales        Fabaceae   SPECIES        ACCEPTED
4    Magnoliopsida       Fabales        Fabaceae   SPECIES         SYNONYM
..             ...           ...             ...       ...             ...
448     Liliopsida        Poales         Poaceae   SPECIES        ACCEPTED
449     Liliopsida  Commelinales   Commelinaceae   SPECIES         SYNONYM
450     Liliopsida   Asparagales  Amaryllidaceae   SPECIES        ACCEPTED
451     Liliopsida  Zingiberales   Zingiberaceae   SPECIES        ACCEPTED
452  Magnoliopsida       Fabales        Fabaceae   SPECIES         SYNONYM

[453 rows x 17 columns]

In [2]:
plantae_count = (merged_df['kingdom'] == 'Plantae').sum()
print(plantae_count)

352

In [3]:
# Filter the DataFrame to only include rows where 'kingdom' is 'Plantae'
plantae_df = merged_df[merged_df['kingdom'] == 'Plantae']

# Display the filtered DataFrame
print(plantae_df)

# Save the merged DataFrame to a CSV file
plantae_df.to_csv('plantae.csv', index=False)

         id   locationID countryCode occurrenceStatus establishmentMeans  \
0    126500  Philippines          PH          Present              Alien
1    126501  Philippines          PH          Present              Alien
2    126502  Philippines          PH          Present              Alien
3    126503  Philippines          PH          Present              Alien
4    126504  Philippines          PH          Present              Alien
..      ...          ...         ...              ...                ...
448  126948  Philippines          PH          Present              Alien
449  126949  Philippines          PH          Present              Alien
450  126950  Philippines          PH          Present              Alien
451  126951  Philippines          PH          Present              Alien
452  126952  Philippines          PH          Present              Alien

    isInvasive      habitat  taxonID                 scientificName  \
0         Null  Terrestrial   126500  Abelmoschus esculentus Moench
1         Null  Terrestrial   126501           Abrus precatorius L.
2         Null  Terrestrial   126502    Abutilon indicum (L.) Sweet
3         Null  Terrestrial   126503   Acacia auriculiformis Benth.
4         Null  Terrestrial   126504  Acacia farnesiana (L.) Willd.
..         ...          ...      ...                            ...
448       Null  Terrestrial   126948                    Zea mays L.
449       Null  Terrestrial   126949       Zebrina pendula Schnizl.
450       Null  Terrestrial   126950      Zephyranthes rosea Lindl.
451       Null  Terrestrial   126951     Zingiber officinale Roscoe
452       Null  Terrestrial   126952     Zornia diphylla (L.) Pers.

                          acceptedNameUsage  kingdom        phylum  \
0                                       NaN  Plantae  Tracheophyta
1                                       NaN  Plantae  Tracheophyta
2                                       NaN  Plantae  Tracheophyta
3                                       NaN  Plantae  Tracheophyta
4    Vachellia farnesiana (L.) Wight & Arn.  Plantae  Tracheophyta
..                                      ...      ...           ...
448                                     NaN  Plantae  Tracheophyta
449              Tradescantia zebrina Bosse  Plantae  Tracheophyta
450                                     NaN  Plantae  Tracheophyta
451                                     NaN  Plantae  Tracheophyta
452            Zornia apiculata Milne-Redh.  Plantae  Tracheophyta

             class         order          family taxonRank taxonomicStatus
0    Magnoliopsida      Malvales       Malvaceae   SPECIES        ACCEPTED
1    Magnoliopsida       Fabales        Fabaceae   SPECIES        ACCEPTED
2    Magnoliopsida      Malvales       Malvaceae   SPECIES        ACCEPTED
3    Magnoliopsida       Fabales        Fabaceae   SPECIES        ACCEPTED
4    Magnoliopsida       Fabales        Fabaceae   SPECIES         SYNONYM
..             ...           ...             ...       ...             ...
448     Liliopsida        Poales         Poaceae   SPECIES        ACCEPTED
449     Liliopsida  Commelinales   Commelinaceae   SPECIES         SYNONYM
450     Liliopsida   Asparagales  Amaryllidaceae   SPECIES        ACCEPTED
451     Liliopsida  Zingiberales   Zingiberaceae   SPECIES        ACCEPTED
452  Magnoliopsida       Fabales        Fabaceae   SPECIES         SYNONYM

[352 rows x 17 columns]

In [4]:
for column in plantae_df.columns:
    print(f"Value counts for column '{column}':")
    print(plantae_df[column].value_counts())
    print("\n")

Value counts for column 'id':
id
126500    1
126501    1
126800    1
126799    1
126797    1
         ..
126643    1
126640    1
126639    1
126638    1
126952    1
Name: count, Length: 352, dtype: int64


Value counts for column 'locationID':
locationID
Philippines    352
Name: count, dtype: int64


Value counts for column 'countryCode':
countryCode
PH    352
Name: count, dtype: int64


Value counts for column 'occurrenceStatus':
occurrenceStatus
Present    352
Name: count, dtype: int64


Value counts for column 'establishmentMeans':
establishmentMeans
Alien    352
Name: count, dtype: int64


Value counts for column 'isInvasive':
isInvasive
Null        339
Invasive     13
Name: count, dtype: int64


Value counts for column 'habitat':
habitat
Terrestrial               346
Terrestrial|Freshwater      3
Freshwater                  3
Name: count, dtype: int64


Value counts for column 'taxonID':
taxonID
126500    1
126501    1
126800    1
126799    1
126797    1
         ..
126643    1
126640    1
126639    1
126638    1
126952    1
Name: count, Length: 352, dtype: int64


Value counts for column 'scientificName':
scientificName
Abelmoschus esculentus Moench       1
Abrus precatorius L.                1
Mollugo oppositifolia L.            1
Mollugo lotoides (L.) C.B.Clarke    1
Mirabilis jalapa L.                 1
                                   ..
Corchorus acutangulus Lam.          1
Colocasia esculenta (L.) Schott     1
Coleus blumei Benth.                1
Coix lacryma-jobi L.                1
Zornia diphylla (L.) Pers.          1
Name: count, Length: 352, dtype: int64


Value counts for column 'acceptedNameUsage':
acceptedNameUsage
Canna indica L.                                 3
Ipomoea alba L.                                 2
Vachellia farnesiana (L.) Wight & Arn.          1
Manihot esculenta Crantz                        1
Polyscias fruticosa Harms                       1
                                               ..
Codiaeum variegatum (L.) A.Juss.                1
Coccinia grandis (L.) Voigt                     1
Citrus aurantiifolia (Christm.) Swingle         1
Citrullus lanatus (Thunb.) Matsumura & Nakai    1
Zornia apiculata Milne-Redh.                    1
Name: count, Length: 111, dtype: int64


Value counts for column 'kingdom':
kingdom
Plantae    352
Name: count, dtype: int64


Value counts for column 'phylum':
phylum
Tracheophyta    352
Name: count, dtype: int64


Value counts for column 'class':
class
Magnoliopsida     295
Liliopsida         56
Polypodiopsida      1
Name: count, dtype: int64


Value counts for column 'order':
order
Fabales           54
Lamiales          33
Malvales          28
Caryophyllales    28
Solanales         28
Malpighiales      24
Asterales         20
Poales            20
Asparagales       15
Gentianales       13
Sapindales        12
Zingiberales      11
Cucurbitales       9
Myrtales           8
Rosales            7
Piperales          6
Oxalidales         4
Magnoliales        4
Brassicales        4
Apiales            4
Arecales           3
Alismatales        3
Commelinales       3
Ericales           3
Laurales           2
Ranunculales       1
Saxifragales       1
Acorales           1
Boraginales        1
Salviniales        1
Zygophyllales      1
Name: count, dtype: int64


Value counts for column 'family':
family
Fabaceae         54
Malvaceae        26
Asteraceae       19
Poaceae          18
Euphorbiaceae    17
                 ..
Balsaminaceae     1
Campanulaceae     1
Oleaceae          1
Onagraceae        1
Violaceae         1
Name: count, Length: 77, dtype: int64


Value counts for column 'taxonRank':
taxonRank
SPECIES    352
Name: count, dtype: int64


Value counts for column 'taxonomicStatus':
taxonomicStatus
ACCEPTED    230
SYNONYM     114
DOUBTFUL      8
Name: count, dtype: int64

In [5]:
columns_to_remove = ['taxonID', 'locationID', 'countryCode', 'occurrenceStatus', 'taxonRank']

# Create a new dataframe excluding the unwanted columns
new_plantae_df = plantae_df.drop(columns_to_remove, axis=1)

# You can now use the new_plantae_df which has the excluded columns removed.
print(new_plantae_df)

         id establishmentMeans isInvasive      habitat  \
0    126500              Alien       Null  Terrestrial
1    126501              Alien       Null  Terrestrial
2    126502              Alien       Null  Terrestrial
3    126503              Alien       Null  Terrestrial
4    126504              Alien       Null  Terrestrial
..      ...                ...        ...          ...
448  126948              Alien       Null  Terrestrial
449  126949              Alien       Null  Terrestrial
450  126950              Alien       Null  Terrestrial
451  126951              Alien       Null  Terrestrial
452  126952              Alien       Null  Terrestrial

                    scientificName                       acceptedNameUsage  \
0    Abelmoschus esculentus Moench                                     NaN
1             Abrus precatorius L.                                     NaN
2      Abutilon indicum (L.) Sweet                                     NaN
3     Acacia auriculiformis Benth.                                     NaN
4    Acacia farnesiana (L.) Willd.  Vachellia farnesiana (L.) Wight & Arn.
..                             ...                                     ...
448                    Zea mays L.                                     NaN
449       Zebrina pendula Schnizl.              Tradescantia zebrina Bosse
450      Zephyranthes rosea Lindl.                                     NaN
451     Zingiber officinale Roscoe                                     NaN
452     Zornia diphylla (L.) Pers.            Zornia apiculata Milne-Redh.

     kingdom        phylum          class         order          family  \
0    Plantae  Tracheophyta  Magnoliopsida      Malvales       Malvaceae
1    Plantae  Tracheophyta  Magnoliopsida       Fabales        Fabaceae
2    Plantae  Tracheophyta  Magnoliopsida      Malvales       Malvaceae
3    Plantae  Tracheophyta  Magnoliopsida       Fabales        Fabaceae
4    Plantae  Tracheophyta  Magnoliopsida       Fabales        Fabaceae
..       ...           ...            ...           ...             ...
448  Plantae  Tracheophyta     Liliopsida        Poales         Poaceae
449  Plantae  Tracheophyta     Liliopsida  Commelinales   Commelinaceae
450  Plantae  Tracheophyta     Liliopsida   Asparagales  Amaryllidaceae
451  Plantae  Tracheophyta     Liliopsida  Zingiberales   Zingiberaceae
452  Plantae  Tracheophyta  Magnoliopsida       Fabales        Fabaceae

    taxonomicStatus
0          ACCEPTED
1          ACCEPTED
2          ACCEPTED
3          ACCEPTED
4           SYNONYM
..              ...
448        ACCEPTED
449         SYNONYM
450        ACCEPTED
451        ACCEPTED
452         SYNONYM

[352 rows x 12 columns]

In [6]:
# Save the merged DataFrame to a CSV file
plantae_df.to_csv('plantae.csv', index=False)